@charset "UTF-8";

:root {
    --bege: #E8DCB9;
    --cinza-azulado: #6f98aa;
    --cinza-escuro: #686A6C;
    --cinza-claro: #d3d3d3;
    --cinza: #9b9b9b;
    --azul-claro: #f0f8ff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--azul-claro);
}

header {
    top: 15px;
    left: 30px;
    right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    width: 100%;
    background-color: var(--cinza-azulado);
    max-width: 1380px;
    height: 60px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
}

header img.logo {
    max-width: 400px;
    max-height: 180px;
}

header .imagem-menu:hover {
    transform: scale(1.10);
    transition-duration: 0.5s;
}

header a.home{
    position: absolute;
    left: 0;
    padding-left: 15px;
}

header img.home {
    width: 70px;
    height: 50px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
}

header ul {
    list-style: none;
}

#menu-direita {
    display: flex;
    align-items: right;
    justify-content: right;
    position: absolute;
    padding: 0px;
    right: 15px;
    width: 155px;
    gap: 15px;
}

header img.imagem-menu {
    width: 70px;
    height: 50px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
}

main {
    position: relative;
    background-color: white;
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
}

main ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 100px;
    list-style: none;
    gap: 100px;
}

main ul li {
    display: flex;
    width: 90%;
    height: 500px;
    border-radius: 20px;
    background-color: var(--cinza-claro);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.308);
}

main ul li img {
    width: 470px;
    border-radius: 20px 00px 0px 20px;    
}

main ul li h1 {
    padding: 20px 0px 0px 28px;
    color: var(--cinza-azulado);
}
