@charset "UTF-8";

:root {
    --bege: #E8DCB9;
    --cinza-azulado: #6f98aa;
    --cinza-escuro: #686A6C;
    --cinza-claro: #d3d3d3;
    --azul-claro: #f0f8ff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--azul-claro);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--cinza-azulado);
    max-width: 1400px;
    height: 60px;
    margin: auto;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.308);
}

header img.logo {
    max-width: 400px;
    max-height: 180px;
}

header a:hover {
    transform: scale(1.10);
    transition-duration: 0.5s;
}

header a.home{
    position: absolute;
    left: 0;
    padding-left: 15px;
}

header img.home {
    width: 70px;
    height: 50px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
}

header a.whatsapp {
    position: absolute;
    right: 0;
    padding-right: 15px;
}

header img.whatsapp {
    width: 70px;
    height: 50px; 
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    border-radius: 50px;
}

main {
    position: relative;
    background-color: white;
    max-width: 1400px;
    margin: auto;
    padding: 15px;
    padding-bottom: 150px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.336);
}

main ul {
    width: 80%;
    margin: 0 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(5, auto); /* 3 colunas iguais */
    gap: 80px; /* espaço entre itens */
    padding-top: 50px;
    justify-content: center;
}

main > ul > li {
    padding: 20px;
    text-align: center;
    background-color: var(--cinza-claro);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.377);
    max-width: 150px;
    max-height: 135px;
    border-radius: 10px;
}

main  ul  li:hover {
    background-color: #9b9b9b;
    transform: scale(1.1);
    transition-duration: 0.4s
}
main > ul > li > p {
    text-align: center;
    padding: 4px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--azul-claro);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.377);
    color: var(--cinza-escuro);
    border-radius: 5px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.233);
}

/* Tablet: 2 colunas */
@media (max-width: 1000px) {
    main ul {
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        gap: 80px 40px;
    }
}

/* Celular: 1 coluna */
@media (max-width: 650px) {
    main ul {
        grid-template-columns: repeat(2, auto);
        justify-content: center;
        gap: 80px 20px;
    }

    main ul li {
        max-width: 100px;
        max-height: 90px;
    }

    main > ul > li > p {
        font-size: 1em;
        margin-top: -5px;
    }

    main ul li img {
        width: 100px;
        height: 100px;
    }

    header img.logo {
        max-width: 200px;
        max-height: 140px;
    }

    header img.home {
        width: 49px;
        height: 35px; 
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        border-radius: 50px;
    }

    header a.home {
        padding-left: 8px;
    }

    header a.whatsapp {
        padding-right: 8px;
    }
    
    header img.whatsapp {
        width: 49px;
        height: 35px; 
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
        border-radius: 50px;
    }
    
    header {
        max-height: 40px;
        padding: 10px;
    }
}

main img {
    max-width: 135px;
    max-height: 135px;
}


